* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.bg-main {
  max-width: 1440px;
  height: 768px;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 920px;
  height: 510px;
  background: #fff;
  border-radius: 24px;
  display: flex;
}

.illustrations-desktop {
  width: 50%;
  height: 100%;
  border-radius: 24px 0 0 24px;
  background: url("./images/bg-pattern-desktop.svg") no-repeat right;
  background-position: -578px -294px;
  overflow: hidden;
}

.illustrations-mobile {
  display: none;
}

.illustration-woman-online-desktop {
  transform: translate(-85px, 70px);
}

.illustration-box-desktop {
  transform: translate(-92px, -160px);
  position: absolute;
}

.faq {
  width: 50%;
  padding: 62px 94px 0 16px;
}

.title {
  margin-bottom: 36px;
}

.questions {
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  position: relative;
}

.question-container {
  display: flex;
  margin: 16px 0 12px;
}

.questions img {
  height: 7px;
  position: absolute;
  right: 0;
  top: 0;
}

.img-toggle {
  width: 25px;
}

.answer-container {
  margin-bottom: 16px;
}

.answer {
  font-size: 12px;
  font-weight: 400;
  color: hsl(240, 6%, 50%);
}

.answer-toggle {
  display: none;
}

.answer-toggle-font {
  font-weight: 700;
}

.arrow-toggle-up {
  transform: scaleY(-1);
}

@media (max-width: 918px) {
  .bg-main {
    max-width: 375px;
  }

  main {
    width: 330px;
    height: 538px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .illustrations-desktop {
    display: none;
  }

  .illustrations-mobile {
    height: 132px;
    display: flex;
    background-image: url("./images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-position: top;
  }

  .illustration-woman-online-mobile {
    height: 196px;
    transform: translate(-15px, -110px);
  }

  .faq {
    width: 280px;
    height: 400px;
    padding: 0;
  }

  .title {
    text-align: center;
  }
  .questions {
    font-size: 13px;
  }

  .answer {
    line-height: 18px;
  }
}
