* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-main {
    width: 1440px;
    height: 768px;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main {
    width: 920px;
    height: 510px;
    background: #fff;
    border-radius: 24px;
    display: flex;
}

.illustration {
    width: 50%;
    border-radius: 24px 0 0 24px;
    position: relative;
}

.illustration-bg {
    width: 100%;
    height: 100%;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: -536px -293px;
    /* position: absolute;
    top: 0; */
}

.illustration-bg1 {
    width: 104%;
    height: 100%;
    background-image: url("./images/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 60px;
    left: -42px;
}

.illustration-bg2 {
    width: 104%;
    height: 100%;
    background-image: url("./images/illustration-box-desktop.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 188px;
    left: -93px;
    z-index: 1;
}

.faq {
    width: 50%;
}

@media (max-width: 768px) {
    .bg-main {
        width: 375px
    }
    
    .container-main {
        width: 330px;
        height: 538px;
        border-radius: 24px;
    }

    .illustration {
        flex: 0;
    }

    /* .container-main .faq {
        flex: 1;
    } */
}