* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.bg-main {
  width: 1440px;
  height: 768px;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-main {
  width: 920px;
  height: 510px;
  background: #fff;
  border-radius: 24px;
  display: flex;
}

.illustration {
  width: 50%;
  border-radius: 24px 0 0 24px;
  position: relative;
}

.illustration-bg {
  width: 100%;
  height: 100%;
  background-image: url("./images/bg-pattern-desktop.svg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: -576px -293px;
  border-radius: 24px 0 0 24px;
}

.illustration-bg1 {
  width: 116%;
  height: 100%;
  background-image: url("./images/illustration-woman-online-desktop.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 52px;
  left: -83px;
}

.illustration-bg2 {
  width: 104%;
  height: 100%;
  background-image: url("./images/illustration-box-desktop.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 188px;
  left: -93px;
  z-index: 1;
}

.faq {
  width: 50%;
  padding: 62px 94px 0 16px;
}

.title {
  margin-bottom: 40px;
}

.questions {
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  position: relative;
}

.question-container {
  display: flex;
  margin-top: 20px;
}

.questions img {
  height: 7px;
  position: absolute;
  right: 0;
  top: 0;
}

.img-toggle {
  /* transform: scaleY(-1); */
  width: 25px;
}

.answer-container {
  margin: 16px 0;
}

.answer {
  font-size: 12px;
  font-weight: 400;
  color: hsl(240, 6%, 50%);
}

.answer-toggle {
  display: none;
}

.answer-toggle-font {
  font-weight: 700;
}

.arrow-toggle-up {
  transform: scaleY(-1);
}

@media (max-width: 768px) {
  .bg-main {
    width: 375px;
  }

  .container-main {
    width: 330px;
    height: 538px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
  }

  .illustration {
    flex: 0;
  }

  .illustration-bg-mobile {
    width: 100%;
    height: 100%;
    background-image: url("./images/illustration-woman-online-mobile.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    left: 37px;
  }

  .illustration-bg2-mobile {
    width: 100%;
    height: 20%;
    background-image: url("./images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-position: 42px 0px;
  }

  .faq {
    width: 330px;
    padding: 34px 24px;
  }
}
